# EditorConfig: https://editorconfig.org

root = true

# General defaults
[*]
charset = utf-8
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# Meson, XML, Blueprint
[*.{build,ui,xml,xml.in,xml.in.in,blp}]
indent_size = 2

