[Desktop Entry]
Name=RanNum
GenericName=Random Number Generator
Comment=Generate a random number
Categories=Utility;
Exec=com.github.zelikos.rannum
Icon=application-default-icon
Terminal=false
Type=Application
Keywords=Random;Number;Rnd;Num;