[Desktop Entry]
Name=Roll-It
GenericName=Dice Roller App
Comment=Roll the dice
Categories=Utility;
Exec=com.github.zelikos.rannum
Icon=application-default-icon
Terminal=false
Type=Application
Keywords=Die;Dice;Roll;Random;Number;Rnd;Num;
